form{
    width: 30%;
    margin:auto;
}
.form-control{
    margin: 17px 0;
}
.submit-btn{
    background-color: blue;
    color: #fff;
    border: 2px solid blue;
    border-radius: 5px ;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
}